
.card{
    height: 17.5rem;
    width:12.5rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    margin-bottom:0.8rem;
    margin-top: 0.8rem;

    display: inline-block;
    
    border-radius: .5rem;
    background-color: rgba(184, 194, 153, 0.461); 
    background-image: url("../../img/carta-pokemon.png");
    background-size: cover;
    background-position: center center;
    opacity: .90;
    align-items: center;
    /* flex-direction: row; */
    
}
.card_image{
    height:35%;
    width: auto;
    margin-top: -1rem; 
    padding: 0.1rem;
    box-sizing: border-box;

    
}
.card_titulo{
   
    margin-top: .5rem;
    margin-bottom: 2.2rem;
}
